!!! 5
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title GitLab Time Tracking
    %link{href: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/flick/jquery-ui.css", rel: "stylesheet"}/
    %link{:href=>'/stylesheets/application.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}
    // favicon
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/images/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/images/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/images/site.webmanifest", :rel => "manifest"}/
    %link{:color => "#5bbad5", :href => "/images/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#00aba9", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/

  %body
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %a{:href => '/', :class => 'navbar-brand'} GitLab Time Tracking
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li
              %a{:href => '/profile'} #{current_user.name}
            %li
              %a{:href => '/logout'} Logout
          - else
            %li
              %a{:href => '/login'} Login
    .container
      = yield
